.nav-link {
    color: rgb(89, 64, 117) !important;
}

a {
    text-decoration: none !important;
}

.shadow {
    box-shadow: 0px 0px 10px 3px rgb(0,0,0,0.2);
}

.text-color-primary {
    color: #592C75 !important;
}

.bg-color-primary {
    background-color: #592C75 !important;
}

.space {
    margin-top: 10%;
    margin-bottom: 10%;
}

.active::before{
    content: '';
    position: absolute;
    bottom: 15px;
    height: 5px;
    width: 20px;
    border-radius: 20px;
    background-color: #7675CF;
    opacity: 0;
    transition: all 0.3s ease;
}

.active::before{
    opacity: 1;
}