.nav-link {
    color: rgb(89, 64, 117) !important;
}

a {
    text-decoration: none !important;
}

.shadow {
    box-shadow: 0px 0px 10px 3px rgb(0,0,0,0.2);
}

.text-color-primary {
    color: #592C75 !important;
}

.bg-color-primary {
    background-color: #592C75 !important;
}

.space {
    margin-top: 10%;
    margin-bottom: 10%;
}

.active::before{
    content: '';
    position: absolute;
    bottom: 15px;
    height: 5px;
    width: 20px;
    border-radius: 20px;
    background-color: #7675CF;
    opacity: 0;
    transition: all 0.3s ease;
}

.active::before{
    opacity: 1;
}

.wrapper {
    padding: 0;
}

.wrappers {
    display: flex;
    width: 100%;
    align-items: stretch;
  }

  #content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
  }
  
  #sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: white;
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.20);
    transition: 0.5s;
  }
  
  #sidebar.active {
    margin-left: -250px;
  }

.welcome-text {
    font-size: 3rem;
}

.welcome-p-text {
    font-size: 20px;
}

.hidden-btn {
    display: none !important;
  }

@media screen and (max-width: 768px) {
    .welcome-text {
        text-align: center;
        padding-top: 25px;
    }

    .hidden-btn {
        display: block !important;
      }

    .wrappers {
        margin: 5%;
    }

    .welcome-p-text {
        font-size: large;
        text-align: center;
        padding-top: 15px;
    }

    #sidebar {
        margin-left: -250px;
      }
    
      #sidebar.active {
        margin-left: 0;
        transform: none;
      }
    
      .hidden-btn {
        display: block !important;
      }
}